@model IEnumerable<Example.Entities.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Department</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Location</th>
            <th>Number of Personnel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentName</td>
                <td>@department.DepartmentCode</td>
                <td>@department.Location</td>
                <td>@department.NumberOfPersonals</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@department.DepartmentId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@department.DepartmentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
